/* head styling */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: skyblue;
    color: white;
}
.head
{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    color:skyblue;
    background-color: white;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    word-spacing: 20px;
    
}
.head .back
{
    float: left;
    font-size: 1.5em;
}
.fas
{
    color: skyblue;
}
h1 span
{
    font-size: 1.5em;
}
#home
{
    /* display: flex; */
    float: right;
    margin-top: -50px;
    justify-content: right;  
}
#msg
{
    float: right;
    margin-top: -20px;
    cursor: pointer;
}
/* header styling */
.header h1
{
    text-align: center;
    font-size: 3em;
    margin-top: 10px;
    font-weight: 800;
}
/* cards */
/* cards styling */
.productholder
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px 10px 20px;
    /* background-color: white; */
    /* max-width: 850px;
    max-height: 300px; */
    margin-top: 50px;
    margin-left: 60px;
    flex-wrap: wrap;
    cursor: pointer;
}
.card{
  background-color: white;
  /* min-width: 300px; */
  border-radius: 20px;
  width: 300px;
}
/* .card:hover
{
    background-color: rgb(221, 210, 210);
    cursor: pointer;
} */
img
{
    width: 300px;
    height: 300px;
    bottom: 0;
border-top-left-radius: 10px;
border-top-right-radius: 10px ;
}
.cardtext
{
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    color: skyblue;

    
}
.category
{
    font-size: 3em;
}
.brandtext
{
    font-size: 1.5em;
}
/* head */
a
{
    text-decoration: none;
    color: skyblue;
}
button
{
    width: 100px;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 40px;
    margin-top:  15px; ;
    margin-bottom: 20px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: skyblue;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
#carry
{
    margin-left: 30px;
    cursor: pointer;
}

button
{
    width: 100px;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 40px;
    margin-top:  15px; ;
    margin-bottom: 20px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: skyblue;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
#room
{
    color: white;
    margin-left: 30px;
    cursor: pointer;
}
select
{
    float: right;
    margin-left: 100px;
    margin-top: -20px;
    padding-left: 19px; ;
    border-radius: 20px;
}

/* popup styling */
.popup
    {
    
        position: fixed;
        /* position: absolute; */
        margin-left: 410px;
        /* margin-top: 100px; */
        background-color: rgb(83, 201, 216);
        width: 800px;
        height: 600px;
        max-width: 800px;
        max-height: 800px;
        border-radius: 20px;
        visibility: hidden;
        z-index: 10;
        text-transform: capitalize;
        margin-top: -120px;
        text-transform: capitalize;
    }
    .done
{
    /* done is the id of order button */
    margin-left: 450px;
    margin-bottom: 20px;
    background-color: rgb(59, 243, 59);
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin-top: 30px;
    
}
    .popup.active
    {
          visibility: visible;
    }
    ul li
    {
        list-style: none;
    }
    h3
    {
        text-align: center;
        color: white;
        text-transform: capitalize;
       padding-top: 20px;
       font-size: 1.8em;
    }
    .popup h1
    {
        text-align: center;
        font-size: 3em;
        color: white;
    }
    .popup input
    {
        margin-left: 50px;
        margin-top: 10px;
    }
    .finalbill
    {
        font-size: 1.5em;
        color: white;
    }
    .bill
    {
      text-decoration: none;
      margin-top: 10px;
        margin-left: 50px;
        font-size: 1.5em;
        color: white;
    }
    .bill ul li
    {
        margin-top: 10px;
    }
    .close
    {
        /* float: right; */
        margin-top: 10px;
        margin-left: 770px;
        font-size: 1.5em;
    }